In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 

import warnings
warnings.filterwarnings("ignore")

In [5]:
df = pd.read_csv("data.csv")

In [6]:
df

,job_id,job_title,category,subcategory,role,Updated category,importance
0,74630583,Procurement Executive (Contract),"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",procurement-executive,NaN,Niveau 1
1,74660602,Account Executive/ Assistant,Accounting,Bookkeeping & Small Practice Accounting,executive-assistant,NaN,Niveau 3
2,74679363,Purchasing Executive,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Operations/Logistics,Niveau 1
3,74657915,PURCHASING EXECUTIVE,Engineering,Project Engineering,purchasing-executive,Operations/Logistics,Niveau 1
4,74662794,Accounts Assistant (AP),Accounting,Accounts Payable,accounts-assistant,NaN,Niveau 3
...,...,...,...,...,...,...,...
39690,76659690,Hotel Manager,Hospitality & Tourism,Management,hotel-manager,NaN,Niveau 3
39691,76653277,"Marketing Specialist, APAC",Marketing & Communications,Marketing Communications,marketing-specialist,Marketing/Sales,NaN
39692,76674488,Talent Acquisition Partner,Human Resources & Recruitment,Recruitment - Internal,talent-acquisition-partner,Human Resources (HR),NaN
39693,76658887,Motor Insurance Executive,Insurance & Superannuation,Brokerage,Motor-Insurance-Executive,NaN,Niveau 1
39694,76653289,Banca Specialist (Klang Valley),Banking & Financial Services,Banking - Retail/Branch,specialist,Finance,Niveau 3

In [7]:
df.shape

(39695, 7)

In [8]:
df.dtypes

job_id               int64
job_title           object
category            object
subcategory         object
role                object
Updated category    object
importance          object
dtype: object

In [9]:
df.columns

Index(['job_id', 'job_title', 'category', 'subcategory', 'role',
       'Updated category', 'importance'],
      dtype='object')

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39695 entries, 0 to 39694
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   job_id            39695 non-null  int64
 1   job_title         39695 non-null  object
 2   category          39695 non-null  object
 3   subcategory       39695 non-null  object
 4   role              38820 non-null  object
 5   Updated category  28722 non-null  object
 6   importance        19807 non-null  object
dtypes: int64(1), object(6)
memory usage: 2.1+ MB

In [11]:
df.describe()

             job_id
count  3.969500e+04
mean   7.503656e+07
std    9.276053e+05
min    7.147168e+07
25%    7.437655e+07
50%    7.489198e+07
75%    7.576153e+07
max    7.669409e+07

In [12]:
df.isna().sum()

job_id                  0
job_title               0
category                0
subcategory             0
role                  875
Updated category    10973
importance          19888
dtype: int64

In [14]:
df = df.dropna()

In [15]:
df.isna().sum()

job_id              0
job_title           0
category            0
subcategory         0
role                0
Updated category    0
importance          0
dtype: int64

In [16]:
df.shape

(8834, 7)

In [17]:
df

,job_id,job_title,category,subcategory,role,Updated category,importance
2,74679363,Purchasing Executive,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Operations/Logistics,Niveau 1
3,74657915,PURCHASING EXECUTIVE,Engineering,Project Engineering,purchasing-executive,Operations/Logistics,Niveau 1
6,74677668,Clerical Assistant (Educational Centre),Administration & Office Support,Administrative Assistants,clerical-assistant,Operations/Logistics,Niveau 3
8,74664838,Purchasing Assistant,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-assistant,Operations/Logistics,Niveau 3
15,74654293,Assistant Human Capital Manager/ Senior Human ...,Human Resources & Recruitment,Consulting & Generalist HR,Human-Capital-Executive,Human Resources (HR),Niveau 1
...,...,...,...,...,...,...,...
39675,76649050,Human Resource Manager,Human Resources & Recruitment,Management - Internal,human-resources-manager,Human Resources (HR),Niveau 3
39683,76653207,Banca Specialist (Johor),Banking & Financial Services,Banking - Retail/Branch,specialist,Finance,Niveau 3
39687,76636411,Admin Executive,Administration & Office Support,Administrative Assistants,administrative-executive,Operations/Logistics,Niveau 1
39688,76651593,Cluster Director of Marcom,Marketing & Communications,Management,Cluster-Director,Marketing/Sales,Niveau 2
39694,76653289,Banca Specialist (Klang Valley),Banking & Financial Services,Banking - Retail/Branch,specialist,Finance,Niveau 3

In [18]:
df.reset_index(inplace=True)

In [19]:
df

,index,job_id,job_title,category,subcategory,role,Updated category,importance
0,2,74679363,Purchasing Executive,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-executive,Operations/Logistics,Niveau 1
1,3,74657915,PURCHASING EXECUTIVE,Engineering,Project Engineering,purchasing-executive,Operations/Logistics,Niveau 1
2,6,74677668,Clerical Assistant (Educational Centre),Administration & Office Support,Administrative Assistants,clerical-assistant,Operations/Logistics,Niveau 3
3,8,74664838,Purchasing Assistant,"Manufacturing, Transport & Logistics","Purchasing, Procurement & Inventory",purchasing-assistant,Operations/Logistics,Niveau 3
4,15,74654293,Assistant Human Capital Manager/ Senior Human ...,Human Resources & Recruitment,Consulting & Generalist HR,Human-Capital-Executive,Human Resources (HR),Niveau 1
...,...,...,...,...,...,...,...,...
8829,39675,76649050,Human Resource Manager,Human Resources & Recruitment,Management - Internal,human-resources-manager,Human Resources (HR),Niveau 3
8830,39683,76653207,Banca Specialist (Johor),Banking & Financial Services,Banking - Retail/Branch,specialist,Finance,Niveau 3
8831,39687,76636411,Admin Executive,Administration & Office Support,Administrative Assistants,administrative-executive,Operations/Logistics,Niveau 1
8832,39688,76651593,Cluster Director of Marcom,Marketing & Communications,Management,Cluster-Director,Marketing/Sales,Niveau 2
8833,39694,76653289,Banca Specialist (Klang Valley),Banking & Financial Services,Banking - Retail/Branch,specialist,Finance,Niveau 3

In [39]:
print("No of unique job_titles:",df['job_title'].nunique()),df['job_title'].unique()

No of unique job_titles: 5327

(None,
 array(['Purchasing Executive', 'PURCHASING EXECUTIVE',
        'Clerical Assistant (Educational Centre)', ...,
        'E-Commerce Marketplace Assistant- Shopee, Lazada (Incentives)',
        'Treasury Analyst', 'Cluster Director of Marcom'], dtype=object))

In [37]:
print("No of unique categories:",df['category'].nunique()),df['category'].unique()

No of unique categories: 26

(None,
 array(['Manufacturing, Transport & Logistics', 'Engineering',
        'Administration & Office Support', 'Human Resources & Recruitment',
        'Information & Communication Technology',
        'Banking & Financial Services', 'Construction', 'Sales',
        'Consulting & Strategy', 'Accounting', 'Design & Architecture',
        'CEO & General Management', 'Science & Technology',
        'Advertising, Arts & Media', 'Marketing & Communications',
        'Call Centre & Customer Service', 'Legal',
        'Retail & Consumer Products', 'Insurance & Superannuation',
        'Hospitality & Tourism', 'Trades & Services',
        'Mining, Resources & Energy', 'Real Estate & Property',
        'Healthcare & Medical', 'Education & Training',
        'Sport & Recreation'], dtype=object))

In [24]:
print("No of unique importandf['importance'].nunique(),df['importance'].unique()

array(['Niveau 1', 'Niveau 3', 'Niveau 4', 'Niveau 4 ou 5', 'Niveau 2',
       'Journalist', 'Free'], dtype=object)

In [26]:
df['role'].nunique()

931